# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*

# Vendoring
node_modules
vendor

# Test binary, build with `go test -c`
*.test
*_fuzz_target
*_fuzz_target.a

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea

# Test
coverage.txt

# Security
*.pem
*.csr

# Logs
*.log
